{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django is Awesome Web Framework</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

</head>
<body>
    <script src="{% static 'js/script.js' %}"></script>
    <h1>Welcome to Django Web Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum temporibus quis labore, ea inventore cumque nulla impedit, obcaecati ut dolores enim sunt architecto dolorem ratione suscipit maxime nobis laboriosam velit.</p>

    <img src="{% static 'images/Logo.png' %}" alt="Logo image">
</body>
</html>